openapi: 3.2.0
info:
  title: viagogo Sales API
  version: 2.249.0.0
  x-logo:
    url: https://img.vggcdn.net/img/assets/logo/viagogo_logo_apidocs.png
    backgroundColor: '#222222'
  description: View your sales details and fulfill your sales.
servers:
- url: https://api.viagogo.net/v2
  description: Production
- url: https://sandbox.api.viagogo.net/v2
  description: Sandbox
security:
- OAuth2:
  - read:payment
  - read:sales
  - read:sellerlistings
  - read:user
  - write:purchases
  - write:sales
  - write:sellerlistings
  - write:user
tags:
- name: Sales
  description: View your sales details and fulfill your sales.
paths:
  /sales/recentupdates:
    get:
      tags:
      - Sales
      summary: List sales (recent updates)
      description: List sales for the authenticated user that have been created or updated over a certain period of time.
      operationId: Sales_GetSalesRecentUpdates
      parameters:
      - name: updated_since
        in: query
        description: Filters the response to only return items that have been updated since the given timestamp
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Sales'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:user
        - read:sales
  /sales:
    get:
      tags:
      - Sales
      summary: List sales
      description: List sales for the authenticated user.
      operationId: Sales_GetSales
      parameters:
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      - name: updated_since
        in: query
        description: Filters the response to only return items that have been updated since the given timestamp
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        description: Determines the ordering of items. A comma-separated string containing `created_at`, `event_date`, `inhand_at`, `payment_amount`, `quantity`, or`resource_version`.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Sales'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:user
        - read:sales
  /sales/{saleId}:
    get:
      tags:
      - Sales
      summary: Get a sale
      operationId: Sales_Get
      parameters:
      - name: saleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Sale'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:user
        - read:sales
    patch:
      tags:
      - Sales
      summary: Update a sale
      operationId: Sales_Patch
      parameters:
      - name: saleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/PatchSaleRequest'
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Sale'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '400':
          $ref: '#/components/responses/validation_failed'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:user
        - write:sales
    delete:
      tags:
      - Sales
      summary: Reject a sale
      description: Report a problem with a sale of tickets.
      operationId: Sales_Delete
      parameters:
      - name: saleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:user
        - write:sales
components:
  schemas:
    TicketHolder:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        title:
          type:
          - string
          - 'null'
        full_name:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date-time
        city_of_birth:
          type:
          - string
          - 'null'
        province_of_birth:
          type:
          - string
          - 'null'
        city_of_residence:
          type:
          - string
          - 'null'
        province_of_residence:
          type:
          - string
          - 'null'
        club_issuer:
          type:
          - string
          - 'null'
        card_number:
          type:
          - string
          - 'null'
        document_type:
          type:
          - string
          - 'null'
        document_number:
          type:
          - string
          - 'null'
        fiscal_code:
          type:
          - string
          - 'null'
        security_code:
          type:
          - string
          - 'null'
        generic_answer:
          type:
          - string
          - 'null'
        email_address:
          type:
          - string
          - 'null'
        _links:
          oneOf:
          - $ref: '#/components/schemas/TicketHolderLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/TicketHolderEmbeddedResources'
    BarcodeInformation:
      type: object
      description: A set of barcodes for a seat.
      additionalProperties: false
      properties:
        seat_ordinal:
          type:
          - integer
          - 'null'
          description: An ordinal number for a seat.
          format: int32
        seat:
          type:
          - string
          - 'null'
          description: Seat number.
        row:
          type:
          - string
          - 'null'
          description: Row of ticket.
        status:
          type:
          - string
          - 'null'
          description: Status of the barcode. Can be `Received` or `FailedValidation`
        barcode_values:
          type:
          - array
          - 'null'
          description: Barcode(s) values for this seat.
          items:
            type: string
    EmbeddedEvent:
      type: object
      description: An event on the viagogo platform.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The event identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the event.
        start_date:
          type:
          - string
          - 'null'
          description: The date when the event starts.
          format: date-time
        end_date:
          type:
          - string
          - 'null'
          description: The date when the event ends.
          format: date-time
        on_sale_date:
          type:
          - string
          - 'null'
          description: The date when tickets for the event will go onsale.
          format: date-time
        date_confirmed:
          type:
          - boolean
          - 'null'
          description: True if the event start and end date have been confirmed; Otherwise, false.
        merged_events:
          type:
          - array
          - 'null'
          description: The list of event ids that are merged into this event.
          items:
            $ref: '#/components/schemas/MergedEntity'
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEventLinks'
    Sale:
      type: object
      description: A sale on the viagogo marketplace that belongs to the currently authenticated user.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The sale identifier.
          format: int32
        created_at:
          type:
          - string
          - 'null'
          description: The date when the sale was created.
          format: date-time
        seating:
          description: The seating information for the ticket(s) that have been sold.
          oneOf:
          - $ref: '#/components/schemas/Seating'
        proceeds:
          description: The total amount that the seller will receive for the sale.
          oneOf:
          - $ref: '#/components/schemas/Money'
        number_of_tickets:
          type:
          - integer
          - 'null'
          description: The number of tickets that have been sold.
          format: int32
        status:
          type:
          - string
          - 'null'
          description: A short localised string describing the current status of the sale.
        status_description:
          type:
          - string
          - 'null'
          description: A localised in-depth description of the current status of the sale.
        display_proceeds:
          description: The total amount that the seller will receive for the sale.
          oneOf:
          - $ref: '#/components/schemas/Money'
        confirm_by:
          type:
          - string
          - 'null'
          description: The date by which the seller must confirm the sale.
          format: date-time
        ship_by:
          type:
          - string
          - 'null'
          description: The date by which the seller must ship the tickets.
          format: date-time
        external_listing_id:
          type:
          - string
          - 'null'
          description: The listing identifier assigned by an external system, typically generated by the seller's inventory management software.
        is_legacy_stubhub_order:
          type: boolean
          description: Boolean value that is set to true for legacy stubhub orders.
        barcodes:
          type:
          - array
          - 'null'
          description: The barcode(s) for the ticket(s).
          items:
            $ref: '#/components/schemas/BarcodeInformation'
        in_hand_at:
          type:
          - string
          - 'null'
          description: The date and time that the seller has the tickets 'in hand' to deliver to the buyer.
          format: date-time
        _links:
          oneOf:
          - $ref: '#/components/schemas/SaleLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/SaleEmbeddedResources'
    EmbeddedDeliveryMethodLinks:
      title: EmbeddedDeliveryMethodLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        deliverymethod:logo:
          description: An image file containing the logo for the delivery method.
          oneOf:
          - $ref: '#/components/schemas/Link'
    DeliveryMethodType:
      type: integer
      description: ''
      x-enumNames:
      - Other
      - Post
      - Pickup
      - ETicket
      enum:
      - 0
      - 1
      - 2
      - 3
    SalesEmbeddedResources:
      title: SalesEmbeddedResources
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Sale'
    AccountTransferRequest:
      type: object
      additionalProperties: false
      properties:
        login_url:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        password:
          type:
          - string
          - 'null'
    ETicketUrlRequest:
      type: object
      description: URL of E-Ticket.
      additionalProperties: false
      properties:
        url:
          type:
          - string
          - 'null'
          description: URL of E-Ticket.
        index:
          type:
          - integer
          - 'null'
          description: Index of E-Ticket.
          format: int32
    EmbeddedVenue:
      type: object
      description: A venue is a location where an event takes place.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The venue identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the venue.
        city:
          type:
          - string
          - 'null'
          description: The name of the city where the venue is located.
        state_province:
          type:
          - string
          - 'null'
          description: The name of the State or Province where the venue is located.
        latitude:
          type:
          - number
          - 'null'
          description: The latitude for the venue.
          format: double
        longitude:
          type:
          - number
          - 'null'
          description: The longitude for the venue.
          format: double
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenueLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenueEmbeddedResources'
    TicketHolderEmbeddedResources:
      title: TicketHolderEmbeddedResources
      type: object
      properties:
        document_issuing_country:
          oneOf:
          - $ref: '#/components/schemas/Country'
        nationality_country:
          oneOf:
          - $ref: '#/components/schemas/Country'
    TicketTypeLinks:
      title: TicketTypeLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    MergedEntity:
      type: object
      description: An entity that has been merged into another entity.
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The identifier for this entity.
          format: int32
    TicketHolderLinks:
      title: TicketHolderLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Sales:
      type: object
      additionalProperties: false
      properties:
        total_items:
          type:
          - integer
          - 'null'
          format: int32
        page:
          type:
          - integer
          - 'null'
          format: int32
        page_size:
          type:
          - integer
          - 'null'
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/SalesLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/SalesEmbeddedResources'
    BarcodeInformation2:
      type: object
      description: A set of barcodes for a seat.
      additionalProperties: false
      properties:
        seat_ordinal:
          type:
          - integer
          - 'null'
          description: An ordinal number for a seat.
          format: int32
        seat:
          type:
          - string
          - 'null'
          description: Seat number.
        row:
          type:
          - string
          - 'null'
          description: Row of ticket.
        barcode_values:
          type:
          - array
          - 'null'
          description: Barcode(s) values for this seat.
          items:
            type: string
    Country:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: The two-letter ISO 3166 code for the country.
        name:
          type:
          - string
          - 'null'
          description: The name of the country.
        _links:
          oneOf:
          - $ref: '#/components/schemas/CountryLinks'
    TicketType:
      type: object
      additionalProperties: false
      properties:
        type:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        id:
          type: integer
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/TicketTypeLinks'
    EmbeddedVenueLinks:
      title: EmbeddedVenueLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    RetransferFailureReasonRecordRequest:
      type: object
      additionalProperties: false
      properties:
        reason_id:
          type: integer
          format: int32
        other_reason_text:
          type:
          - string
          - 'null'
    SaleLinks:
      title: SaleLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:accounttransfer:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:autotrackshipment:
          description: The webpage where a shipment of tickets can be tracked automatically.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:changepapertickettoeticket:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:confirm:
          description: Confirm the sale.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:confirmaccounttransferpassword:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:contactuswebpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:etickets:
          description: The uploaded E-Tickets that have been assigned to the tickets that have been sold.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:eticketuploads:
          description: The uploaded files containing E-Tickets that have not been assigned to the tickets that have been sold.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:listing:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:recordretransferfailurereason:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:regenerateaccounttransferpassword:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:reject:
          description: Report a problem with the sale.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:retransferfailurereasons:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:saveetickets:
          description: Assign uploaded E-Tickets to the tickets that have been sold.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:savetransferreceipts:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:shipments:
          description: The shipments related to a sale.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:ticketholders:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:trackshipment:
          description: The webpage where a shipment of tickets can be tracked after entering the tracking_number.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:transferreceiptuploads:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:uploadetickets:
          description: Upload a file containing E-Tickets.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:uploadeticketurls:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:uploadtransferreceipts:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:webpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
    SaleEmbeddedResources:
      title: SaleEmbeddedResources
      type: object
      properties:
        delivery_method:
          description: The delivery method for the ticket(s).
          oneOf:
          - $ref: '#/components/schemas/EmbeddedDeliveryMethod'
        event:
          description: The event for this sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEvent'
        ticket_type:
          description: The type of ticket(s) that was sold.
          oneOf:
          - $ref: '#/components/schemas/TicketType'
        ticketholders:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TicketHolder'
        venue:
          description: The venue where the event is taking place.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenue'
    Seating:
      type: object
      description: Represents the seating information for a ticket(s) in a Venue.
      additionalProperties: false
      required:
      - section
      properties:
        section:
          type:
          - string
          - 'null'
          description: The section of the ticket(s).
        row:
          type:
          - string
          - 'null'
          description: The row of the ticket(s).
        seat_from:
          type:
          - string
          - 'null'
          description: The first in a contiguous block of seats to which the tickets have been allocated.
        seat_to:
          type:
          - string
          - 'null'
          description: The last in a contiguous block of seats to which the tickets have been allocated.
    EmbeddedEventLinks:
      title: EmbeddedEventLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Link:
      type: object
      additionalProperties: false
      properties:
        href:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        templated:
          type: boolean
    CountryLinks:
      title: CountryLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        country:events:
          description: The events taking place in a country.
          oneOf:
          - $ref: '#/components/schemas/Link'
        country:localwebpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
    EmbeddedDeliveryMethod:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The delivery method identifier.
          format: int32
        type:
          description: The type of delivery method. Can be ETicket, Post or Pickup.
          oneOf:
          - $ref: '#/components/schemas/DeliveryMethodType'
        name:
          type:
          - string
          - 'null'
          description: The localised name of the delivery method.
        description:
          type:
          - string
          - 'null'
          description: The localised description of the delivery method.
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedDeliveryMethodLinks'
    EmbeddedVenueEmbeddedResources:
      title: EmbeddedVenueEmbeddedResources
      type: object
      properties:
        country:
          description: The Country where the venue is located.
          oneOf:
          - $ref: '#/components/schemas/Country'
    SalesLinks:
      title: SalesLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        first:
          oneOf:
          - $ref: '#/components/schemas/Link'
        last:
          oneOf:
          - $ref: '#/components/schemas/Link'
        next:
          oneOf:
          - $ref: '#/components/schemas/Link'
        prev:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Error:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
        errors:
          type:
          - object
          - 'null'
          additionalProperties:
            type: array
            items:
              type: string
    Money:
      type: object
      description: Returned for monetary values, such as ticket prices, fees charged and tax amounts.
      additionalProperties: false
      required:
      - amount
      - currency_code
      properties:
        amount:
          type:
          - number
          - 'null'
          description: The decimal amount of the money.
          format: decimal
        currency_code:
          type:
          - string
          - 'null'
          description: The ISO 4217 currency code that the monetary value is represented in.
        display:
          type:
          - string
          - 'null'
          description: A user-friendly string representing the monetary value.
    PatchSaleRequest:
      type: object
      description: A sale on the viagogo marketplace that belongs to the currently authenticated user.
      additionalProperties: false
      properties:
        confirmed:
          type:
          - boolean
          - 'null'
          description: True when the sale should be confirmed; Otherwise, false.
        eticket_ids:
          type:
          - array
          - 'null'
          description: A array of the identifiers of the E-Tickets or proof of transfer to be assigned to the sale.
          items:
            type: integer
            format: int32
        transfer_confirmation_number:
          type:
          - string
          - 'null'
          description: Transfer confirmation number.
        eticket_urls:
          type:
          - array
          - 'null'
          description: Urls with which the buyers can access the etickets.
          items:
            $ref: '#/components/schemas/ETicketUrlRequest'
        change_paper_ticket_to_eticket:
          type:
          - boolean
          - 'null'
          description: True when the ticket(s) should be changed from paper to E-ticket; Otherwise, false.
        confirm_same_day_shipment:
          type:
          - boolean
          - 'null'
          description: True when same-day shipment is confirmed; Otherwise, false
        in_hand_at:
          type:
          - string
          - 'null'
          description: The date and time that the seller has the tickets 'in hand' to deliver to the buyer.
          format: date-time
        eticket_type:
          type:
          - string
          - 'null'
          description: The type of ticket(s) that was sold.
        tracking_number:
          type:
          - string
          - 'null'
          description: Tacking number of the ticket shipment.
        seating:
          description: Any updated seating information about the tickets sold
          oneOf:
          - $ref: '#/components/schemas/Seating'
        barcodes:
          type:
          - array
          - 'null'
          description: The barcode(s) for the ticket(s).
          items:
            $ref: '#/components/schemas/BarcodeInformation2'
        mobile_provider:
          type:
          - string
          - 'null'
          description: 'The vendor being used to transfer the mobile ticket.  Can be one of the following values:

            StubHub,

            Viagogo,

            Ticketmaster,

            AXS,

            SeatGeek,

            Ticketmaster Account Manager,

            MLB Ballpark,

            MPV,

            Paciolan,

            Tickets.com,

            Tickets.com RDP,

            Vivenu,

            Ticketmaster CA,

            Eventbrite,

            Livenation,

            Broadway,

            Telecharge,

            Ticketon,

            Seetickets,

            Etix,

            Tixr,

            Festicket,

            Insomniac,

            DiceImport,

            MGMResorts,

            Tickeri,

            SmithCenterImport,

            Stubwire,

            Computicket,'
        retransfer_failure_reason_record:
          oneOf:
          - $ref: '#/components/schemas/RetransferFailureReasonRecordRequest'
        account_transfer:
          oneOf:
          - $ref: '#/components/schemas/AccountTransferRequest'
  responses:
    internal_server_error:
      description: Internal server error
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    validation_failed:
      description: The request data is not valid. errors will contain an object with a localized message that describes the validation error for each property of the data.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    not_found:
      description: The URI requested is invalid or the resource requested, such as an event, does not exist.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    forbidden:
      description: The request is understood, but it has been refused or access is not allowed. An accompanying error message will explain why.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    requires_authentication:
      description: Authentication credentials were missing or incorrect.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
  securitySchemes:
    OAuth2:
      type: oauth2
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
        clientCredentials:
          tokenUrl: https://account.viagogo.com/oauth2/token
        authorizationCode:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
x-tagGroups:
- name: Endpoints
  tags:
  - Sales
  - E-Tickets
  - Payments
  - Shipments
  - TicketHolders
  - TransferStatusProof
- name: Basic Types
  tags:
  - BasicType_Money
- name: Resources
  tags:
  - Resource_ETickets
  - Resource_ETicketUploads
  - Resource_Payment
  - Resource_Sale
  - Resource_Sales
  - Resource_Shipment
  - Resource_Shipments
  - Resource_TicketHolder
  - Resource_TransferStatusProof
