openapi: 3.2.0
info:
  title: Viagogo E Tickets API
  version: 2.249.0.0
  description: 'Operations tagged E-Tickets across 2 of this provider''s published API definitions: viagogo-inventory.json, viagogo-sales.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.viagogo.net/v2
  description: Production
- url: https://sandbox.api.viagogo.net/v2
  description: Sandbox
tags:
- name: E-Tickets
paths:
  /sellerlistings/{listingId}/eticketuploads:
    post:
      tags:
      - E-Tickets
      summary: Upload e-tickets for a seller listing
      operationId: ETicket_UploadListingETicket
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETicketUploads'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '400':
          $ref: '#/components/responses/validation_failed'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:sellerlistings
    get:
      tags:
      - E-Tickets
      summary: List e-ticket uploads for a seller listing
      operationId: ETicket_GetListingETicketUploads
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETicketUploads'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:sellerlistings
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /events/{eventId}/eticketuploads:
    post:
      tags:
      - E-Tickets
      summary: Upload e-tickets for an event
      operationId: ETicket_UploadEventETicket
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETicketUploads'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '400':
          $ref: '#/components/responses/validation_failed'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:user
    get:
      tags:
      - E-Tickets
      summary: List e-ticket uploads for an event
      operationId: ETicket_GetEventETicketUploads
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETicketUpload'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:user
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /sellerlistings/{listingId}/etickets:
    get:
      tags:
      - E-Tickets
      summary: List e-tickets for a seller listing
      operationId: ETicket_GetListingETickets
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETickets'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:sellerlistings
    patch:
      tags:
      - E-Tickets
      summary: Mark-back e-tickets from a seller listing
      description: Removes a certain number of e-tickets that you no longer wish to sell from your listing.
      operationId: ETicket_MarkBackETickets
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/PostMarkBackETicketsRequest'
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETickets'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '400':
          $ref: '#/components/responses/validation_failed'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:sellerlistings
    post:
      tags:
      - E-Tickets
      summary: Upload and save e-tickets for a seller listing
      operationId: ETicket_PostListingETickets
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETickets'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '400':
          $ref: '#/components/responses/validation_failed'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:sellerlistings
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /sellerlistings/{listingId}/etickets/{ETicketId}:
    delete:
      tags:
      - E-Tickets
      summary: Delete e-ticket from a seller listing
      operationId: ETicket_DeleteListingETicket
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: eticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:sellerlistings
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /events/{eventId}/etickets/{eticketId}:
    delete:
      tags:
      - E-Tickets
      summary: Delete e-ticket from an event
      operationId: ETicket_DeleteEventETicket
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: eticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:user
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /sellerlistings/{listingId}/markedbacketickets/{markedBackETicketId}/document:
    get:
      tags:
      - E-Tickets
      summary: Get marked back e-ticket file for seller listing
      operationId: ETicketDocument_GetMarkedBackETicketDocument
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: markedBackETicketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:sellerlistings
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /sales/{saleId}/eticketuploads:
    post:
      tags:
      - E-Tickets
      summary: Upload e-tickets or proof of transfer for a sale
      description: Once the PDFs has been successfully been uploaded, you must also patch the sale confirming which pages of each PDF should be saved against the order. To do this, the Ids of the etickets property embedded in the EticketUploadEmbeddedResources of each upload, and patch the sale with those Ids.
      operationId: ETicket_UploadSaleETicket
      parameters:
      - name: saleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETicketUploads'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '400':
          $ref: '#/components/responses/validation_failed'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:user
        - write:sales
    get:
      tags:
      - E-Tickets
      summary: List e-ticket uploads for a sale
      operationId: ETicket_GetSaleETicketUploads
      parameters:
      - name: saleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETicketUploads'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:user
        - read:sales
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /sales/{saleId}/transferuploads/{transferType}:
    post:
      tags:
      - E-Tickets
      summary: Upload e-ticket transfer for a sale
      description: Supported transfer types are "acceptance" for proof of acceptance.
      operationId: ETicket_UploadSaleTransfer
      parameters:
      - name: saleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: transferType
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETicketUploads'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '400':
          $ref: '#/components/responses/validation_failed'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:user
        - write:sales
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /sales/{saleId}/etickets:
    get:
      tags:
      - E-Tickets
      summary: List e-tickets for a sale
      operationId: ETicket_GetSaleETickets
      parameters:
      - name: saleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ETickets_2'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:user
        - read:sales
    post:
      tags:
      - E-Tickets
      summary: Upload and save e-tickets for a sale
      operationId: ETicket_PostSaleETickets
      parameters:
      - name: saleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Sale'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '400':
          $ref: '#/components/responses/validation_failed'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:user
        - write:sales
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /sales/{saleId}/etickets/{eticketId}:
    delete:
      tags:
      - E-Tickets
      summary: Delete e-ticket from a sale
      operationId: ETicket_DeleteSaleETicket
      parameters:
      - name: saleId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: eticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:user
        - write:sales
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /etickets/{eticketId}/thumbnail:
    get:
      tags:
      - E-Tickets
      summary: Get e-ticket thumbnail file
      description: Download an image file containing a thumbnail of an E-Ticket
      operationId: ETicketDocument_GetETicketThumbnail
      parameters:
      - name: eticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:user
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /eticketuploads/{eticketUploadId}/document:
    get:
      tags:
      - E-Tickets
      summary: Get e-ticket upload file
      description: Download the original file that was uploaded.
      operationId: ETicketDocument_GetETicketUploadDocument
      parameters:
      - name: eticketUploadId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:user
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
  /etickets/{eticketId}/document:
    get:
      tags:
      - E-Tickets
      summary: Get e-ticket file
      description: Download a PDF file containing an E-Ticket.
      operationId: ETicketDocument_GetETicketDocument
      parameters:
      - name: eticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:user
    servers:
    - url: https://api.viagogo.net/v2
      description: Production
    - url: https://sandbox.api.viagogo.net/v2
      description: Sandbox
components:
  schemas:
    ETicketsLinks:
      title: ETicketsLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        etickets:markback:
          oneOf:
          - $ref: '#/components/schemas/Link'
        etickets:markedbackdocuments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Link'
        first:
          oneOf:
          - $ref: '#/components/schemas/Link'
        last:
          oneOf:
          - $ref: '#/components/schemas/Link'
        next:
          oneOf:
          - $ref: '#/components/schemas/Link'
        prev:
          oneOf:
          - $ref: '#/components/schemas/Link'
    ETicketUploadsEmbeddedResources:
      title: ETicketUploadsEmbeddedResources
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ETicketUpload'
    ETicketUpload:
      type: object
      description: Represents an uploaded file that contains one or more E-Tickets.
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The identifier of the upload.
          format: int32
        file_name:
          type:
          - string
          - 'null'
          description: The name of the file that was uploaded.
        processed_at:
          type: string
          description: The date when all of the E-Tickets in the uploaded file were processed.
          format: date-time
        original_number_of_etickets:
          type: integer
          description: The original number of E-Tickets contained in the uploaded file.
          format: int32
        status_description:
          type:
          - string
          - 'null'
          description: A localised in-depth description of the current status of the upload.
        _links:
          oneOf:
          - $ref: '#/components/schemas/ETicketUploadLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/ETicketUploadEmbeddedResources'
    PostMarkBackETicketsRequest:
      type: object
      additionalProperties: false
      properties:
        quantity:
          type: integer
          format: int32
    ETicketLinks:
      title: ETicketLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        eticket:delete:
          description: Delete this E-Ticket.
          oneOf:
          - $ref: '#/components/schemas/Link'
        eticket:document:
          description: A PDF file containing the E-Ticket.
          oneOf:
          - $ref: '#/components/schemas/Link'
        eticket:thumbnail:
          description: An image file containing a thumbnail of the E-Ticket.
          oneOf:
          - $ref: '#/components/schemas/Link'
    ETickets:
      type: object
      description: 'The ETickets resource is a collection resource that contains zero or

        more references to a set of E-Tickets, and links that guide you on

        ways to interact with the E-Tickets. The collection offers a paginated

        view of E-Tickets.'
      additionalProperties: false
      properties:
        total_items:
          type:
          - integer
          - 'null'
          format: int32
        page:
          type:
          - integer
          - 'null'
          format: int32
        page_size:
          type:
          - integer
          - 'null'
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/ETicketsLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/ETicketsEmbeddedResources'
    ETicketUploadLinks:
      title: ETicketUploadLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        eticketupload:document:
          description: The original file that was uploaded.
          oneOf:
          - $ref: '#/components/schemas/Link'
    ETicket:
      type: object
      description: An electronic ticket that has been uploaded for a listing or a sale.
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The identifier of the E-Ticket.
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/ETicketLinks'
    ETicketUploadEmbeddedResources:
      title: ETicketUploadEmbeddedResources
      type: object
      properties:
        etickets:
          type:
          - array
          - 'null'
          description: An array of the individual E-Tickets contained in the uploaded files.
          items:
            $ref: '#/components/schemas/ETicket'
    Link:
      type: object
      additionalProperties: false
      properties:
        href:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        templated:
          type: boolean
    ETicketUploads:
      type: object
      additionalProperties: false
      properties:
        total_items:
          type:
          - integer
          - 'null'
          format: int32
        page:
          type:
          - integer
          - 'null'
          format: int32
        page_size:
          type:
          - integer
          - 'null'
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/ETicketUploadsLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/ETicketUploadsEmbeddedResources'
    ETicketsEmbeddedResources:
      title: ETicketsEmbeddedResources
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ETicket'
    Error:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
        errors:
          type:
          - object
          - 'null'
          additionalProperties:
            type: array
            items:
              type: string
    ETicketUploadsLinks:
      title: ETicketUploadsLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        first:
          oneOf:
          - $ref: '#/components/schemas/Link'
        last:
          oneOf:
          - $ref: '#/components/schemas/Link'
        next:
          oneOf:
          - $ref: '#/components/schemas/Link'
        prev:
          oneOf:
          - $ref: '#/components/schemas/Link'
    TicketHolder:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        title:
          type:
          - string
          - 'null'
        full_name:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date-time
        city_of_birth:
          type:
          - string
          - 'null'
        province_of_birth:
          type:
          - string
          - 'null'
        city_of_residence:
          type:
          - string
          - 'null'
        province_of_residence:
          type:
          - string
          - 'null'
        club_issuer:
          type:
          - string
          - 'null'
        card_number:
          type:
          - string
          - 'null'
        document_type:
          type:
          - string
          - 'null'
        document_number:
          type:
          - string
          - 'null'
        fiscal_code:
          type:
          - string
          - 'null'
        security_code:
          type:
          - string
          - 'null'
        generic_answer:
          type:
          - string
          - 'null'
        email_address:
          type:
          - string
          - 'null'
        _links:
          oneOf:
          - $ref: '#/components/schemas/TicketHolderLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/TicketHolderEmbeddedResources'
    BarcodeInformation:
      type: object
      description: A set of barcodes for a seat.
      additionalProperties: false
      properties:
        seat_ordinal:
          type:
          - integer
          - 'null'
          description: An ordinal number for a seat.
          format: int32
        seat:
          type:
          - string
          - 'null'
          description: Seat number.
        row:
          type:
          - string
          - 'null'
          description: Row of ticket.
        status:
          type:
          - string
          - 'null'
          description: Status of the barcode. Can be `Received` or `FailedValidation`
        barcode_values:
          type:
          - array
          - 'null'
          description: Barcode(s) values for this seat.
          items:
            type: string
    EmbeddedEvent:
      type: object
      description: An event on the viagogo platform.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The event identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the event.
        start_date:
          type:
          - string
          - 'null'
          description: The date when the event starts.
          format: date-time
        end_date:
          type:
          - string
          - 'null'
          description: The date when the event ends.
          format: date-time
        on_sale_date:
          type:
          - string
          - 'null'
          description: The date when tickets for the event will go onsale.
          format: date-time
        date_confirmed:
          type:
          - boolean
          - 'null'
          description: True if the event start and end date have been confirmed; Otherwise, false.
        merged_events:
          type:
          - array
          - 'null'
          description: The list of event ids that are merged into this event.
          items:
            $ref: '#/components/schemas/MergedEntity'
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEventLinks'
    Sale:
      type: object
      description: A sale on the viagogo marketplace that belongs to the currently authenticated user.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The sale identifier.
          format: int32
        created_at:
          type:
          - string
          - 'null'
          description: The date when the sale was created.
          format: date-time
        seating:
          description: The seating information for the ticket(s) that have been sold.
          oneOf:
          - $ref: '#/components/schemas/Seating'
        proceeds:
          description: The total amount that the seller will receive for the sale.
          oneOf:
          - $ref: '#/components/schemas/Money'
        number_of_tickets:
          type:
          - integer
          - 'null'
          description: The number of tickets that have been sold.
          format: int32
        status:
          type:
          - string
          - 'null'
          description: A short localised string describing the current status of the sale.
        status_description:
          type:
          - string
          - 'null'
          description: A localised in-depth description of the current status of the sale.
        display_proceeds:
          description: The total amount that the seller will receive for the sale.
          oneOf:
          - $ref: '#/components/schemas/Money'
        confirm_by:
          type:
          - string
          - 'null'
          description: The date by which the seller must confirm the sale.
          format: date-time
        ship_by:
          type:
          - string
          - 'null'
          description: The date by which the seller must ship the tickets.
          format: date-time
        external_listing_id:
          type:
          - string
          - 'null'
          description: The listing identifier assigned by an external system, typically generated by the seller's inventory management software.
        is_legacy_stubhub_order:
          type: boolean
          description: Boolean value that is set to true for legacy stubhub orders.
        barcodes:
          type:
          - array
          - 'null'
          description: The barcode(s) for the ticket(s).
          items:
            $ref: '#/components/schemas/BarcodeInformation'
        in_hand_at:
          type:
          - string
          - 'null'
          description: The date and time that the seller has the tickets 'in hand' to deliver to the buyer.
          format: date-time
        _links:
          oneOf:
          - $ref: '#/components/schemas/SaleLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/SaleEmbeddedResources'
    ETicketsLinks_2:
      title: ETicketsLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        first:
          oneOf:
          - $ref: '#/components/schemas/Link'
        last:
          oneOf:
          - $ref: '#/components/schemas/Link'
        next:
          oneOf:
          - $ref: '#/components/schemas/Link'
        prev:
          oneOf:
          - $ref: '#/components/schemas/Link'
    EmbeddedDeliveryMethodLinks:
      title: EmbeddedDeliveryMethodLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        deliverymethod:logo:
          description: An image file containing the logo for the delivery method.
          oneOf:
          - $ref: '#/components/schemas/Link'
    DeliveryMethodType:
      type: integer
      description: ''
      x-enumNames:
      - Other
      - Post
      - Pickup
      - ETicket
      enum:
      - 0
      - 1
      - 2
      - 3
    EmbeddedVenue:
      type: object
      description: A venue is a location where an event takes place.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The venue identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the venue.
        city:
          type:
          - string
          - 'null'
          description: The name of the city where the venue is located.
        state_province:
          type:
          - string
          - 'null'
          description: The name of the State or Province where the venue is located.
        latitude:
          type:
          - number
          - 'null'
          description: The latitude for the venue.
          format: double
        longitude:
          type:
          - number
          - 'null'
          description: The longitude for the venue.
          format: double
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenueLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenueEmbeddedResources'
    TicketHolderEmbeddedResources:
      title: TicketHolderEmbeddedResources
      type: object
      properties:
        document_issuing_country:
          oneOf:
          - $ref: '#/components/schemas/Country'
        nationality_country:
          oneOf:
          - $ref: '#/components/schemas/Country'
    TicketTypeLinks:
      title: TicketTypeLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    MergedEntity:
      type: object
      description: An entity that has been merged into another entity.
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The identifier for this entity.
          format: int32
    TicketHolderLinks:
      title: TicketHolderLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    ETickets_2:
      type: object
      additionalProperties: false
      properties:
        total_items:
          type:
          - integer
          - 'null'
          format: int32
        page:
          type:
          - integer
          - 'null'
          format: int32
        page_size:
          type:
          - integer
          - 'null'
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/ETicketsLinks_2'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/ETicketsEmbeddedResources'
    Country:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: The two-letter ISO 3166 code for the country.
        name:
          type:
          - string
          - 'null'
          description: The name of the country.
        _links:
          oneOf:
          - $ref: '#/components/schemas/CountryLinks'
    TicketType:
      type: object
      additionalProperties: false
      properties:
        type:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        id:
          type: integer
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/TicketTypeLinks'
    EmbeddedVenueLinks:
      title: EmbeddedVenueLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    SaleLinks:
      title: SaleLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:accounttransfer:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:autotrackshipment:
          description: The webpage where a shipment of tickets can be tracked automatically.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:changepapertickettoeticket:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:confirm:
          description: Confirm the sale.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:confirmaccounttransferpassword:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:contactuswebpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:etickets:
          description: The uploaded E-Tickets that have been assigned to the tickets that have been sold.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:eticketuploads:
          description: The uploaded files containing E-Tickets that have not been assigned to the tickets that have been sold.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:listing:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:recordretransferfailurereason:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:regenerateaccounttransferpassword:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:reject:
          description: Report a problem with the sale.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:retransferfailurereasons:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:saveetickets:
          description: Assign uploaded E-Tickets to the tickets that have been sold.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:savetransferreceipts:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:shipments:
          description: The shipments related to a sale.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:ticketholders:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:trackshipment:
          description: The webpage where a shipment of tickets can be tracked after entering the tracking_number.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:transferreceiptuploads:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:uploadetickets:
          description: Upload a file containing E-Tickets.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:uploadeticketurls:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:uploadtransferreceipts:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sale:webpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
    SaleEmbeddedResources:
      title: SaleEmbeddedResources
      type: object
      properties:
        delivery_method:
          description: The delivery method for the ticket(s).
          oneOf:
          - $ref: '#/components/schemas/EmbeddedDeliveryMethod'
        event:
          description: The event for this sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEvent'
        ticket_type:
          description: The type of ticket(s) that was sold.
          oneOf:
          - $ref: '#/components/schemas/TicketType'
        ticketholders:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TicketHolder'
        venue:
          description: The venue where the event is taking place.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenue'
    EmbeddedEventLinks:
      title: EmbeddedEventLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Seating:
      type: object
      description: Represents the seating information for a ticket(s) in a Venue.
      additionalProperties: false
      required:
      - section
      properties:
        section:
          type:
          - string
          - 'null'
          description: The section of the ticket(s).
        row:
          type:
          - string
          - 'null'
          description: The row of the ticket(s).
        seat_from:
          type:
          - string
          - 'null'
          description: The first in a contiguous block of seats to which the tickets have been allocated.
        seat_to:
          type:
          - string
          - 'null'
          description: The last in a contiguous block of seats to which the tickets have been allocated.
    CountryLinks:
      title: CountryLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        country:events:
          description: The events taking place in a country.
          oneOf:
          - $ref: '#/components/schemas/Link'
        country:localwebpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
    EmbeddedDeliveryMethod:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The delivery method identifier.
          format: int32
        type:
          description: The type of delivery method. Can be ETicket, Post or Pickup.
          oneOf:
          - $ref: '#/components/schemas/DeliveryMethodType'
        name:
          type:
          - string
          - 'null'
          description: The localised name of the delivery method.
        description:
          type:
          - string
          - 'null'
          description: The localised description of the delivery method.
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedDeliveryMethodLinks'
    EmbeddedVenueEmbeddedResources:
      title: EmbeddedVenueEmbeddedResources
      type: object
      properties:
        country:
          description: The Country where the venue is located.
          oneOf:
          - $ref: '#/components/schemas/Country'
    Money:
      type: object
      description: Returned for monetary values, such as ticket prices, fees charged and tax amounts.
      additionalProperties: false
      required:
      - amount
      - currency_code
      properties:
        amount:
          type:
          - number
          - 'null'
          description: The decimal amount of the money.
          format: decimal
        currency_code:
          type:
          - string
          - 'null'
          description: The ISO 4217 currency code that the monetary value is represented in.
        display:
          type:
          - string
          - 'null'
          description: A user-friendly string representing the monetary value.
  responses:
    internal_server_error:
      description: Internal server error
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    validation_failed:
      description: The request data is not valid. errors will contain an object with a localized message that describes the validation error for each property of the data.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    not_found:
      description: The URI requested is invalid or the resource requested, such as an event, does not exist.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    forbidden:
      description: The request is understood, but it has been refused or access is not allowed. An accompanying error message will explain why.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    requires_authentication:
      description: Authentication credentials were missing or incorrect.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
  securitySchemes:
    OAuth2:
      type: oauth2
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
        clientCredentials:
          tokenUrl: https://account.viagogo.com/oauth2/token
        authorizationCode:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
x-refined-from:
- viagogo-inventory.json
- viagogo-sales.json
x-tagGroups:
- name: Endpoints
  tags:
  - Addresses
  - PaymentMethods
  - User
- name: Resources
  tags:
  - Resource_Address
  - Resource_Addresss
  - Resource_PaymentMethods
  - Resource_User
