openapi: 3.2.0
info:
  title: viagogo Catalog Venues API
  version: 1.0.0.49
  x-logo:
    url: https://img.vggcdn.net/img/assets/logo/viagogo_logo_apidocs.png
    backgroundColor: '#222222'
  description: View venues on the viagogo platform
servers:
- url: https://api.viagogo.net
  description: Production
- url: https://sandbox.api.viagogo.net
  description: Sandbox
security:
- OAuth2:
  - manage:listingoffers
  - read:categories
  - read:events
  - read:venue_configurations
  - read:venues
tags:
- name: Venues
  description: View venues on the viagogo platform
paths:
  /catalog/venues:
    get:
      tags:
      - Venues
      summary: List venues
      description: Lists all venues on the viagogo platform. Use this endpoint to sync the entire viagogo Venue catalog with your application.
      operationId: Venues_GetVenues
      parameters:
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      - name: updated_since
        in: query
        description: Filters the response to only return items that have been updated since the given timestamp
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        description: Determines the ordering of items. A comma-separated string containing `resource_version`.
        schema:
          type: string
      - name: country_code
        in: query
        schema:
          type: string
          description: Filters results to only include venues located in the specified country.
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Venues'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:venues
  /catalog/venues/{venueId}:
    get:
      tags:
      - Venues
      summary: Get a venue
      operationId: Venues_GetVenue
      parameters:
      - name: venueId
        in: path
        required: true
        description: The venue identifier
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Venue'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:venues
components:
  schemas:
    Venues:
      type: object
      additionalProperties: false
      properties:
        total_items:
          type:
          - integer
          - 'null'
          format: int32
        page:
          type:
          - integer
          - 'null'
          format: int32
        page_size:
          type:
          - integer
          - 'null'
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/VenuesLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/VenuesEmbeddedResources'
    Link:
      type: object
      additionalProperties: false
      properties:
        href:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        templated:
          type: boolean
    EmbeddedExternalMapping:
      type: object
      description: 'An external mapping between a resource on the viagogo platform and the same resource on another platforms. '
      additionalProperties: false
      properties:
        id:
          type: string
          description: The identifier of the resource in the external platform
        platform_name:
          type: string
          description: The name of the external platform. Can be `legacy_stubhub`.
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedExternalMappingLinks'
    CountryLinks:
      title: CountryLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Country:
      type: object
      additionalProperties: false
      properties:
        code:
          type: string
          description: The two-letter ISO 3166 code for the country.
        name:
          type: string
          description: The name of the country.
        _links:
          oneOf:
          - $ref: '#/components/schemas/CountryLinks'
    EmbeddedExternalMappingLinks:
      title: EmbeddedExternalMappingLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Venue:
      type: object
      description: An venue on the viagogo platform.
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The venue identifier.
          format: int32
        name:
          type: string
          description: The name of the venue.
        city:
          type: string
          description: The name of the city where the venue is located.
        state_province:
          type: string
          description: The name of the State or Province where the venue is located.
        postal_code:
          type: string
          description: The postal code for the venue.
        latitude:
          type:
          - number
          - 'null'
          description: The latitude for the venue.
          format: double
        longitude:
          type:
          - number
          - 'null'
          description: The longitude for the venue.
          format: double
        _links:
          oneOf:
          - $ref: '#/components/schemas/VenueLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/VenueEmbeddedResources'
    VenueLinks:
      title: VenueLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Error:
      type: object
      additionalProperties: false
      properties:
        code:
          type: string
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    VenueEmbeddedResources:
      title: VenueEmbeddedResources
      type: object
      properties:
        country:
          description: The Country where the venue is located.
          oneOf:
          - $ref: '#/components/schemas/Country'
        external_mappings:
          type:
          - array
          - 'null'
          description: The external mappings for this venue
          items:
            $ref: '#/components/schemas/EmbeddedExternalMapping'
    VenuesLinks:
      title: VenuesLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        first:
          oneOf:
          - $ref: '#/components/schemas/Link'
        last:
          oneOf:
          - $ref: '#/components/schemas/Link'
        next:
          oneOf:
          - $ref: '#/components/schemas/Link'
        prev:
          oneOf:
          - $ref: '#/components/schemas/Link'
    VenuesEmbeddedResources:
      title: VenuesEmbeddedResources
      type: object
      properties:
        deleted_items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Venue'
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Venue'
  responses:
    not_found:
      description: The URI requested is invalid or the resource requested, such as an event, does not exist.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    internal_server_error:
      description: Internal server error
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    requires_authentication:
      description: Authentication credentials were missing or incorrect.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    forbidden:
      description: The request is understood, but it has been refused or access is not allowed. An accompanying error message will explain why.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
  securitySchemes:
    OAuth2:
      type: oauth2
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
        clientCredentials:
          tokenUrl: https://account.viagogo.com/oauth2/token
        authorizationCode:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
x-tagGroups:
- name: Endpoints
  tags:
  - Categories
  - Events
  - Listing Offers
  - Venue Configurations
  - Venues
- name: Basic Types
  tags:
  - BasicType_Money
- name: Resources
  tags:
  - Resource_Event
  - Resource_Events
  - Resource_MapEventResponseModel
  - Resource_Venue
  - Resource_VenueConfigurationResource
  - Resource_Venues
