openapi: 3.2.0
info:
  title: viagogo Webhooks Topics API
  version: 2.249.0.0
  x-logo:
    url: https://img.vggcdn.net/img/assets/logo/viagogo_logo_apidocs.png
    backgroundColor: '#222222'
  description: When configuring a webhook, you can choose the topics you would like to receive payloads for. You should only subscribe to the specific topics that you plan on handling so that you can limit the number of HTTP requests to your server.
servers:
- url: https://api.viagogo.net/v2
  description: Production
- url: https://sandbox.api.viagogo.net/v2
  description: Sandbox
security:
- OAuth2:
  - read:webhooks
  - write:webhooks
tags:
- name: Topics
  description: When configuring a webhook, you can choose the topics you would like to receive payloads for. You should only subscribe to the specific topics that you plan on handling so that you can limit the number of HTTP requests to your server.
paths: {}
webhooks:
  sales:
    post:
      tags:
      - Topics
      summary: Sales
      description: Triggered when something happens that affects a sale (e.g. you sell one or more tickets).
      parameters:
      - description: Name of the topic that triggered this delivery
        schema:
          type: string
        example: Ping
      - description: Unique identifier for this delivery
        schema:
          type: string
        example: '1993433'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Triggered when something happens that affects a sale (e.g. you sell one or more tickets).
              additionalProperties: false
              properties:
                barcodes:
                  type:
                  - array
                  - 'null'
                  description: The barcodes that are linked to the sale.
                  items:
                    $ref: '#/components/schemas/BarcodeInformation'
                topic:
                  type:
                  - string
                  - 'null'
                  description: The topic of the webhook.
                action:
                  type:
                  - string
                  - 'null'
                  description: 'The action that triggered this webhook. '
                _links:
                  oneOf:
                  - $ref: '#/components/schemas/SalesTopicLinks'
                _embedded:
                  oneOf:
                  - $ref: '#/components/schemas/SalesTopicEmbeddedResources'
      responses:
        '200':
          description: The data was received successfully.
  provisional-sale:
    post:
      tags:
      - Topics
      summary: ProvisionalSale
      description: Triggered when a provisional sale occurs. The normal `SalesTopic` webhook will confirm the provisional sale. If you want to reject the provisional sale, ignore it and reject the sale when it comes through as normal.
      parameters:
      - description: Name of the topic that triggered this delivery
        schema:
          type: string
        example: Ping
      - description: Unique identifier for this delivery
        schema:
          type: string
        example: '1993433'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Triggered when a provisional sale occurs. The normal `SalesTopic` webhook will confirm the provisional sale. If you want to reject the provisional sale, ignore it and reject the sale when it comes through as normal.
              additionalProperties: false
              properties:
                barcodes:
                  type:
                  - array
                  - 'null'
                  description: The barcodes that are linked to the sale.
                  items:
                    $ref: '#/components/schemas/BarcodeInformation'
                topic:
                  type:
                  - string
                  - 'null'
                  description: The topic of the webhook.
                action:
                  type:
                  - string
                  - 'null'
                  description: 'The action that triggered this webhook. '
                _links:
                  oneOf:
                  - $ref: '#/components/schemas/ProvisionalSaleTopicLinks'
                _embedded:
                  oneOf:
                  - $ref: '#/components/schemas/ProvisionalSaleTopicEmbeddedResources'
      responses:
        '200':
          description: The data was received successfully.
  cancel-provisional-sale:
    post:
      tags:
      - Topics
      summary: CancelProvisionalSale
      description: Triggered when a provisional sale is cancelled.
      parameters:
      - description: Name of the topic that triggered this delivery
        schema:
          type: string
        example: Ping
      - description: Unique identifier for this delivery
        schema:
          type: string
        example: '1993433'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Triggered when a provisional sale is cancelled.
              additionalProperties: false
              properties:
                barcodes:
                  type:
                  - array
                  - 'null'
                  description: The barcodes that are linked to the sale.
                  items:
                    $ref: '#/components/schemas/BarcodeInformation'
                topic:
                  type:
                  - string
                  - 'null'
                  description: The topic of the webhook.
                action:
                  type:
                  - string
                  - 'null'
                  description: 'The action that triggered this webhook. '
                _links:
                  oneOf:
                  - $ref: '#/components/schemas/CancelProvisionalSaleTopicLinks'
                _embedded:
                  oneOf:
                  - $ref: '#/components/schemas/CancelProvisionalSaleTopicEmbeddedResources'
      responses:
        '200':
          description: The data was received successfully.
  sale-updates:
    post:
      tags:
      - Topics
      summary: SaleUpdates
      description: Triggered when an update is made to a sale that you did not initiate. You will need to filter by the action that you are interested in. The currently support action is `FailedBarcodeValidation` which will tell you if validation of a set of barcodes uploaded against an order has failed, and barcodes need re-uploading.
      parameters:
      - description: Name of the topic that triggered this delivery
        schema:
          type: string
        example: Ping
      - description: Unique identifier for this delivery
        schema:
          type: string
        example: '1993433'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Triggered when an update is made to a sale that you did not initiate. You will need to filter by the action that you are interested in. The currently support action is `FailedBarcodeValidation` which will tell you if validation of a set of barcodes uploaded against an order has failed, and barcodes need re-uploading.
              additionalProperties: false
              properties:
                barcodes:
                  type:
                  - array
                  - 'null'
                  description: The barcodes that are linked to the sale.
                  items:
                    $ref: '#/components/schemas/BarcodeInformation'
                topic:
                  type:
                  - string
                  - 'null'
                  description: The topic of the webhook.
                action:
                  type:
                  - string
                  - 'null'
                  description: The action that trigger this webhook. Can be `FailedBarcodeValidation`
                _links:
                  oneOf:
                  - $ref: '#/components/schemas/SaleUpdatesTopicLinks'
                _embedded:
                  oneOf:
                  - $ref: '#/components/schemas/SaleUpdatesTopicEmbeddedResources'
      responses:
        '200':
          description: The data was received successfully.
  sellerlisting-updates:
    post:
      tags:
      - Topics
      summary: SellerListingUpdates
      description: Triggered when an update is made to a listing that you did not initiate. You will need to filter by the action that you are interested in. The currently support actions are `FailedBarcodeValidation` and `ListingDeliverabilityExpired`. `FailedBarcodeValidation` will tell you if validation of a set of barcodes uploaded against a listing has failed, and barcodes need re-uploading. `ListingDeliverabilityExpired` will tell you that a listing is not longer deliverable to a customer. To increase the deliverability of electronic type tickets, preupload them (e.g. pre-upload barcodes or PDF files.) To increase deliverability of paper tickets, opt your tickets into our LMS program.
      parameters:
      - description: Name of the topic that triggered this delivery
        schema:
          type: string
        example: Ping
      - description: Unique identifier for this delivery
        schema:
          type: string
        example: '1993433'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Triggered when an update is made to a listing that you did not initiate. You will need to filter by the action that you are interested in. The currently support actions are `FailedBarcodeValidation` and `ListingDeliverabilityExpired`. `FailedBarcodeValidation` will tell you if validation of a set of barcodes uploaded against a listing has failed, and barcodes need re-uploading. `ListingDeliverabilityExpired` will tell you that a listing is not longer deliverable to a customer. To increase the deliverability of electronic type tickets, preupload them (e.g. pre-upload barcodes or PDF files.) To increase deliverability of paper tickets, opt your tickets into our LMS program.
              additionalProperties: false
              properties:
                topic:
                  type:
                  - string
                  - 'null'
                  description: The topic of the webhook.
                action:
                  type:
                  - string
                  - 'null'
                  description: The action that trigger this webhook. Can be `FailedBarcodeValidation` or `ListingDeliverabilityExpired`
                barcodes:
                  type:
                  - array
                  - 'null'
                  description: The barcodes that are linked to the listing.
                  items:
                    $ref: '#/components/schemas/BarcodeInformation2'
                _links:
                  oneOf:
                  - $ref: '#/components/schemas/SellerListingUpdatesTopicLinks'
                _embedded:
                  oneOf:
                  - $ref: '#/components/schemas/SellerListingUpdatesTopicEmbeddedResources'
      responses:
        '200':
          description: The data was received successfully.
  ping:
    post:
      tags:
      - Topics
      summary: Ping
      description: Triggered any time a Webhook is pinged.
      parameters:
      - description: Name of the topic that triggered this delivery
        schema:
          type: string
        example: Ping
      - description: Unique identifier for this delivery
        schema:
          type: string
        example: '1993433'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Triggered any time a Webhook is pinged.
              additionalProperties: false
              properties:
                topic:
                  type:
                  - string
                  - 'null'
                  description: The topic of the webhook.
                action:
                  type:
                  - string
                  - 'null'
                  description: 'The action that triggered this webhook. '
                _links:
                  oneOf:
                  - $ref: '#/components/schemas/PingTopicLinks'
                _embedded:
                  oneOf:
                  - $ref: '#/components/schemas/PingTopicEmbeddedResources'
      responses:
        '200':
          description: The data was received successfully.
  re-transfer-ticket:
    post:
      tags:
      - Topics
      summary: ReTransferTicket
      description: Triggered when a ticket was not received by the buyer, so the ticket must be re-transferred from the 3rd party provider.
      parameters:
      - description: Name of the topic that triggered this delivery
        schema:
          type: string
        example: Ping
      - description: Unique identifier for this delivery
        schema:
          type: string
        example: '1993433'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Triggered when a ticket was not received by the buyer, so the ticket must be re-transferred from the 3rd party provider.
              additionalProperties: false
              properties:
                barcodes:
                  type:
                  - array
                  - 'null'
                  description: The barcodes that are linked to the sale.
                  items:
                    $ref: '#/components/schemas/BarcodeInformation'
                topic:
                  type:
                  - string
                  - 'null'
                  description: The topic of the webhook.
                action:
                  type:
                  - string
                  - 'null'
                  description: 'The action that triggered this webhook. '
                _links:
                  oneOf:
                  - $ref: '#/components/schemas/ReTransferTicketTopicLinks'
                _embedded:
                  oneOf:
                  - $ref: '#/components/schemas/ReTransferTicketTopicEmbeddedResources'
      responses:
        '200':
          description: The data was received successfully.
components:
  schemas:
    BarcodeInformation:
      type: object
      description: A set of barcodes for a seat.
      additionalProperties: false
      properties:
        seat_ordinal:
          type:
          - integer
          - 'null'
          description: An ordinal number for a seat.
          format: int32
        seat:
          type:
          - string
          - 'null'
          description: Seat number.
        row:
          type:
          - string
          - 'null'
          description: Row of ticket.
        status:
          type:
          - string
          - 'null'
          description: Status of the barcode. Can be `Received` or `FailedValidation`
        barcode_values:
          type:
          - array
          - 'null'
          description: Barcode(s) values for this seat.
          items:
            type: string
    EmbeddedEvent:
      type: object
      description: An event on the viagogo platform.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The event identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the event.
        start_date:
          type:
          - string
          - 'null'
          description: The date when the event starts.
          format: date-time
        end_date:
          type:
          - string
          - 'null'
          description: The date when the event ends.
          format: date-time
        on_sale_date:
          type:
          - string
          - 'null'
          description: The date when tickets for the event will go onsale.
          format: date-time
        date_confirmed:
          type:
          - boolean
          - 'null'
          description: True if the event start and end date have been confirmed; Otherwise, false.
        merged_events:
          type:
          - array
          - 'null'
          description: The list of event ids that are merged into this event.
          items:
            $ref: '#/components/schemas/MergedEntity'
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEventLinks'
    EmbeddedSale:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The sale identifier.
          format: int32
        created_at:
          type:
          - string
          - 'null'
          description: The date when the sale was created.
          format: date-time
        seating:
          description: The seating information for the ticket(s) that have been sold.
          oneOf:
          - $ref: '#/components/schemas/Seating'
        proceeds:
          description: The total amount that the seller will receive for the sale.
          oneOf:
          - $ref: '#/components/schemas/Money'
        number_of_tickets:
          type:
          - integer
          - 'null'
          description: The number of tickets that have been sold.
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSaleLinks'
    EmbeddedSellerListing:
      type: object
      description: A set of tickets for sale on the viagogo marketplace that belong to the currently authenticated user.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The listing identifier.
          format: int64
        created_at:
          type:
          - string
          - 'null'
          description: The date when the listing was created.
          format: date-time
        number_of_tickets:
          type:
          - integer
          - 'null'
          description: The number of tickets available for purchase.
          format: int32
        seating:
          description: The seating information for the ticket(s) in this listing.
          oneOf:
          - $ref: '#/components/schemas/SeatingDetail'
        display_seating:
          description: The seating information that will be displayed to buyers for the ticket(s) in this listing.
          oneOf:
          - $ref: '#/components/schemas/SeatingDetail'
        ticket_price:
          description: The price of each ticket in the listing.
          oneOf:
          - $ref: '#/components/schemas/Money'
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSellerListingLinks'
    CancelProvisionalSaleTopicEmbeddedResources:
      title: CancelProvisionalSaleTopicEmbeddedResources
      type: object
      properties:
        event:
          description: The event for this sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEvent'
        sale:
          description: The affected sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSale'
        seller_listing:
          description: The listing from which the tickets were sold.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSellerListing'
        venue:
          description: The venue where the event is taking place.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenue'
        webhook:
          description: The subscribed webhook.
          oneOf:
          - $ref: '#/components/schemas/Webhook'
    SeatingDetail:
      type: object
      additionalProperties: false
      required:
      - section
      properties:
        section:
          type:
          - string
          - 'null'
          description: The section of the ticket(s).
        row:
          type:
          - string
          - 'null'
          description: The row of the ticket(s).
        seat_from:
          type:
          - string
          - 'null'
          description: The first in a contiguous block of seats to which the tickets have been allocated.
        seat_to:
          type:
          - string
          - 'null'
          description: The last in a contiguous block of seats to which the tickets have been allocated.
        state:
          description: This field indicates whether the listing's seating is visible on the website on the venue map.
          oneOf:
          - $ref: '#/components/schemas/SeatingState'
    ReTransferTicketTopicEmbeddedResources:
      title: ReTransferTicketTopicEmbeddedResources
      type: object
      properties:
        event:
          description: The event for this sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEvent'
        sale:
          description: The affected sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSale'
        seller_listing:
          description: The listing from which the tickets were sold.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSellerListing'
        venue:
          description: The venue where the event is taking place.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenue'
        webhook:
          description: The subscribed webhook.
          oneOf:
          - $ref: '#/components/schemas/Webhook'
    WebhookLinks:
      title: WebhookLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        webhook:delete:
          description: Delete a webhook.
          oneOf:
          - $ref: '#/components/schemas/Link'
        webhook:ping:
          description: Ping a webhook.
          oneOf:
          - $ref: '#/components/schemas/Link'
        webhook:update:
          description: Update the details of a webhook.
          oneOf:
          - $ref: '#/components/schemas/Link'
    SaleUpdatesTopicEmbeddedResources:
      title: SaleUpdatesTopicEmbeddedResources
      type: object
      properties:
        event:
          description: The event for this sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEvent'
        sale:
          description: The affected sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSale'
        seller_listing:
          description: The listing from which the tickets were sold.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSellerListing'
        venue:
          description: The venue where the event is taking place.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenue'
        webhook:
          description: The subscribed webhook.
          oneOf:
          - $ref: '#/components/schemas/Webhook'
    SeatingState:
      type: object
      additionalProperties: false
      properties:
        visible_in_venue_map:
          type: boolean
          description: True when the seat is visible in the venue map that will be shown to buyers; Otherwise, false.
    PingTopicLinks:
      title: PingTopicLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    EmbeddedVenue:
      type: object
      description: A venue is a location where an event takes place.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The venue identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the venue.
        city:
          type:
          - string
          - 'null'
          description: The name of the city where the venue is located.
        state_province:
          type:
          - string
          - 'null'
          description: The name of the State or Province where the venue is located.
        latitude:
          type:
          - number
          - 'null'
          description: The latitude for the venue.
          format: double
        longitude:
          type:
          - number
          - 'null'
          description: The longitude for the venue.
          format: double
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenueLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenueEmbeddedResources'
    CancelProvisionalSaleTopicLinks:
      title: CancelProvisionalSaleTopicLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    MergedEntity:
      type: object
      description: An entity that has been merged into another entity.
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The identifier for this entity.
          format: int32
    SellerListingUpdatesTopicEmbeddedResources:
      title: SellerListingUpdatesTopicEmbeddedResources
      type: object
      properties:
        event:
          description: The event for this listing.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEvent'
        seller_listing:
          description: The affected listing.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSellerListing'
        venue:
          description: The venue where the event is taking place.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenue'
        webhook:
          description: The subscribed webhook.
          oneOf:
          - $ref: '#/components/schemas/Webhook'
    BarcodeInformation2:
      type: object
      description: A set of barcodes for a seat.
      additionalProperties: false
      properties:
        seat_ordinal:
          type:
          - integer
          - 'null'
          description: An ordinal number for a seat.
          format: int32
        seat:
          type:
          - string
          - 'null'
          description: Seat number.
        row:
          type:
          - string
          - 'null'
          description: Row of ticket.
        status:
          type:
          - string
          - 'null'
          description: Status of the barcode. Can be `Received` or `FailedValidation`
        barcode_values_sha256_hashed:
          type:
          - array
          - 'null'
          description: SHA256-hashed barcode(s) for this seat.
          items:
            type: string
    EmbeddedSaleLinks:
      title: EmbeddedSaleLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    EmbeddedSellerListingLinks:
      title: EmbeddedSellerListingLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Country:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: The two-letter ISO 3166 code for the country.
        name:
          type:
          - string
          - 'null'
          description: The name of the country.
        _links:
          oneOf:
          - $ref: '#/components/schemas/CountryLinks'
    EmbeddedVenueLinks:
      title: EmbeddedVenueLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    SalesTopicEmbeddedResources:
      title: SalesTopicEmbeddedResources
      type: object
      properties:
        event:
          description: The event for this sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEvent'
        sale:
          description: The affected sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSale'
        seller_listing:
          description: The listing from which the tickets were sold.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSellerListing'
        venue:
          description: The venue where the event is taking place.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenue'
        webhook:
          description: The subscribed webhook.
          oneOf:
          - $ref: '#/components/schemas/Webhook'
    PingTopicEmbeddedResources:
      title: PingTopicEmbeddedResources
      type: object
      properties:
        webhook:
          description: The subscribed webhook.
          oneOf:
          - $ref: '#/components/schemas/Webhook'
    SalesTopicLinks:
      title: SalesTopicLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Seating:
      type: object
      description: Represents the seating information for a ticket(s) in a Venue.
      additionalProperties: false
      required:
      - section
      properties:
        section:
          type:
          - string
          - 'null'
          description: The section of the ticket(s).
        row:
          type:
          - string
          - 'null'
          description: The row of the ticket(s).
        seat_from:
          type:
          - string
          - 'null'
          description: The first in a contiguous block of seats to which the tickets have been allocated.
        seat_to:
          type:
          - string
          - 'null'
          description: The last in a contiguous block of seats to which the tickets have been allocated.
    EmbeddedEventLinks:
      title: EmbeddedEventLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Link:
      type: object
      additionalProperties: false
      properties:
        href:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        templated:
          type: boolean
    CountryLinks:
      title: CountryLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        country:events:
          description: The events taking place in a country.
          oneOf:
          - $ref: '#/components/schemas/Link'
        country:localwebpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
    SaleUpdatesTopicLinks:
      title: SaleUpdatesTopicLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    ReTransferTicketTopicLinks:
      title: ReTransferTicketTopicLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    ProvisionalSaleTopicEmbeddedResources:
      title: ProvisionalSaleTopicEmbeddedResources
      type: object
      properties:
        event:
          description: The event for this sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEvent'
        sale:
          description: The affected sale.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSale'
        seller_listing:
          description: The listing from which the tickets were sold.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedSellerListing'
        venue:
          description: The venue where the event is taking place.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenue'
        webhook:
          description: The subscribed webhook.
          oneOf:
          - $ref: '#/components/schemas/Webhook'
    ProvisionalSaleTopicLinks:
      title: ProvisionalSaleTopicLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    EmbeddedVenueEmbeddedResources:
      title: EmbeddedVenueEmbeddedResources
      type: object
      properties:
        country:
          description: The Country where the venue is located.
          oneOf:
          - $ref: '#/components/schemas/Country'
    SellerListingUpdatesTopicLinks:
      title: SellerListingUpdatesTopicLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Webhook:
      type: object
      description: 'A webhook is a subscription from a server application to certain topics

        on the viagogo platform. When an occurrence of a topic is triggered,

        we’ll POST a payload to the webhook’s configured url.'
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The webhook identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the webhook.
        created_at:
          type: string
          description: The date when the webhook was created.
          format: date-time
        topics:
          type:
          - array
          - 'null'
          description: An array of the topics the webhook is trigger for.
          items:
            type: string
        url:
          type:
          - string
          - 'null'
          description: The server endpoint that will receive the webhook payload.
        authorization_header:
          type:
          - string
          - 'null'
          description: The Authorization header value that should be included in requests to the webhook.
        _links:
          oneOf:
          - $ref: '#/components/schemas/WebhookLinks'
    Money:
      type: object
      description: Returned for monetary values, such as ticket prices, fees charged and tax amounts.
      additionalProperties: false
      required:
      - amount
      - currency_code
      properties:
        amount:
          type:
          - number
          - 'null'
          description: The decimal amount of the money.
          format: decimal
        currency_code:
          type:
          - string
          - 'null'
          description: The ISO 4217 currency code that the monetary value is represented in.
        display:
          type:
          - string
          - 'null'
          description: A user-friendly string representing the monetary value.
  securitySchemes:
    OAuth2:
      type: oauth2
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
        clientCredentials:
          tokenUrl: https://account.viagogo.com/oauth2/token
        authorizationCode:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
x-tagGroups:
- name: Endpoints
  tags:
  - Topics
  - Webhooks
- name: Basic Types
  tags:
  - BasicType_Money
- name: Resources
  tags:
  - Resource_Webhook
  - Resource_Webhooks
