openapi: 3.2.0
info:
  title: viagogo Inventory Seller Events API
  version: 2.249.0.0
  x-logo:
    url: https://img.vggcdn.net/img/assets/logo/viagogo_logo_apidocs.png
    backgroundColor: '#222222'
servers:
- url: https://api.viagogo.net/v2
  description: Production
- url: https://sandbox.api.viagogo.net/v2
  description: Sandbox
security:
- OAuth2:
  - read:sales
  - read:sellerlistings
  - read:user
  - write:requestedevents
  - write:sales
  - write:sellerlistings
  - write:user
tags:
- name: SellerEvents
paths:
  /sellerevents:
    get:
      tags:
      - SellerEvents
      summary: List seller events
      description: List events with listings that belong to the authenticated user.
      operationId: SellerEvents_GetSellerEvents
      parameters:
      - name: page
        in: query
        description: Specifies which page of data to retrieve.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: Set custom page sizes on response.
        schema:
          type: integer
          format: int32
      - name: updated_since
        in: query
        description: Filters the response to only return items that have been updated since the given timestamp
        schema:
          type: string
          format: date-time
      - name: sort
        in: query
        description: Determines the ordering of items. A comma-separated string containing `id`, `number_of_tickets`, or`resource_version`.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/SellerEvents'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:sellerlistings
    put:
      tags:
      - SellerEvents
      summary: Create a seller event
      description: Request for an event to be created on the viagogo marketplace.
      operationId: SellerEvents_PutSellerRequestedEvent
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/PutRequestedEventRequest'
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/SellerEvent'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '400':
          $ref: '#/components/responses/validation_failed'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:requestedevents
  /sellerevents/{eventIdOrRequestedEventId}:
    get:
      tags:
      - SellerEvents
      summary: Get a seller event
      description: Get an event with listings belonging to the current user
      operationId: SellerEvents_GetSellerEvent
      parameters:
      - name: eventIdOrRequestedEventId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/SellerEvent'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:sellerlistings
components:
  schemas:
    SellerEvents:
      type: object
      additionalProperties: false
      properties:
        total_items:
          type:
          - integer
          - 'null'
          format: int32
        page:
          type:
          - integer
          - 'null'
          format: int32
        page_size:
          type:
          - integer
          - 'null'
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/SellerEventsLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/SellerEventsEmbeddedResources'
    VenueRequest:
      type: object
      description: A venue is a location where an event takes place.
      additionalProperties: false
      required:
      - name
      - city
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of the venue.
        city:
          type:
          - string
          - 'null'
          description: The name of the city where the venue is located.
        state_province:
          type:
          - string
          - 'null'
          description: The name of the State or Province where the venue is located.
    CountryRequest:
      type: object
      additionalProperties: false
      required:
      - code
      properties:
        code:
          type:
          - string
          - 'null'
          description: The two-letter ISO 3166 code for the country.
    SellerEventEmbeddedResources:
      title: SellerEventEmbeddedResources
      type: object
      properties:
        external_mappings:
          type:
          - array
          - 'null'
          description: The external mappings for this event
          items:
            $ref: '#/components/schemas/EmbeddedExternalMapping'
        sales_aggregates:
          type:
          - array
          - 'null'
          description: The currently authenticated user's aggregated sales data for this event.
          items:
            $ref: '#/components/schemas/SalesAggregate'
        venue:
          description: Event venue.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenue'
    SalesAggregateLinks:
      title: SalesAggregateLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        salesaggregate:sales:
          description: The sales aggregated in this resource.
          oneOf:
          - $ref: '#/components/schemas/Link'
    EmbeddedExternalMapping:
      type: object
      description: 'An external mapping between a resource on the viagogo platform and the same resource on another platforms. '
      additionalProperties: false
      properties:
        id:
          type:
          - string
          - 'null'
          description: The identifier of the resource in the external platform
        platform_name:
          type:
          - string
          - 'null'
          description: The name of the external platform. Can be `legacy_stubhub`
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedExternalMappingLinks'
    EmbeddedVenue:
      type: object
      description: A venue is a location where an event takes place.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The venue identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the venue.
        city:
          type:
          - string
          - 'null'
          description: The name of the city where the venue is located.
        state_province:
          type:
          - string
          - 'null'
          description: The name of the State or Province where the venue is located.
        latitude:
          type:
          - number
          - 'null'
          description: The latitude for the venue.
          format: double
        longitude:
          type:
          - number
          - 'null'
          description: The longitude for the venue.
          format: double
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenueLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenueEmbeddedResources'
    EmbeddedExternalMappingLinks:
      title: EmbeddedExternalMappingLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    SellerEventsEmbeddedResources:
      title: SellerEventsEmbeddedResources
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SellerEvent'
    MergedEntity:
      type: object
      description: An entity that has been merged into another entity.
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The identifier for this entity.
          format: int32
    Country:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: The two-letter ISO 3166 code for the country.
        name:
          type:
          - string
          - 'null'
          description: The name of the country.
        _links:
          oneOf:
          - $ref: '#/components/schemas/CountryLinks'
    EmbeddedVenueLinks:
      title: EmbeddedVenueLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    SellerEvent:
      type: object
      description: An event on the viagogo marketplace with listings that belong to the currently authenticated user.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The event identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the event.
        start_date:
          type:
          - string
          - 'null'
          description: The date when the event starts.
          format: date-time
        end_date:
          type:
          - string
          - 'null'
          description: The date when the event ends.
          format: date-time
        on_sale_date:
          type:
          - string
          - 'null'
          description: The date when tickets for the event will go onsale.
          format: date-time
        date_confirmed:
          type:
          - boolean
          - 'null'
          description: True if the event start and end date have been confirmed; Otherwise, false.
        merged_events:
          type:
          - array
          - 'null'
          description: The list of event ids that are merged into this event.
          items:
            $ref: '#/components/schemas/MergedEntity'
        _links:
          oneOf:
          - $ref: '#/components/schemas/SellerEventLinks'
        lms:
          type:
          - boolean
          - 'null'
          description: True if the event is a last minute sale event; otherwise, false.
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/SellerEventEmbeddedResources'
    SellerEventLinks:
      title: SellerEventLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerevent:createsellerlisting:
          description: Create listing for the currently authenticated user.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerevent:sellerlistings:
          description: Event listings that belong to the currently authenticated user.
          oneOf:
          - $ref: '#/components/schemas/Link'
    Link:
      type: object
      additionalProperties: false
      properties:
        href:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        templated:
          type: boolean
    CountryLinks:
      title: CountryLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        country:events:
          description: The events taking place in a country.
          oneOf:
          - $ref: '#/components/schemas/Link'
        country:localwebpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
    PutRequestedEventRequest:
      type: object
      description: A requested event.
      additionalProperties: false
      properties:
        event:
          description: The event information.
          oneOf:
          - $ref: '#/components/schemas/EventRequest'
        venue:
          description: The venue where the event will take place.
          oneOf:
          - $ref: '#/components/schemas/VenueRequest'
        country:
          description: The country where the event will take place.
          oneOf:
          - $ref: '#/components/schemas/CountryRequest'
    EventRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - start_date
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of the event.
        start_date:
          type:
          - string
          - 'null'
          description: The date when the event starts.
          format: date-time
        date_confirmed:
          type:
          - boolean
          - 'null'
          description: True if the event start and end date have been confirmed; Otherwise, false.
        note:
          type:
          - string
          - 'null'
          description: Additional notes on the event.
    SellerEventsLinks:
      title: SellerEventsLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        first:
          oneOf:
          - $ref: '#/components/schemas/Link'
        last:
          oneOf:
          - $ref: '#/components/schemas/Link'
        next:
          oneOf:
          - $ref: '#/components/schemas/Link'
        prev:
          oneOf:
          - $ref: '#/components/schemas/Link'
    EmbeddedVenueEmbeddedResources:
      title: EmbeddedVenueEmbeddedResources
      type: object
      properties:
        country:
          description: The Country where the venue is located.
          oneOf:
          - $ref: '#/components/schemas/Country'
    SalesAggregate:
      type: object
      description: Aggregated sales data for the currently authenticated user.
      additionalProperties: false
      properties:
        number_of_sales:
          type: integer
          description: The total number of sales aggregated in this resource.
          format: int32
        proceeds:
          description: The total amount that the seller will receive for the sale.
          oneOf:
          - $ref: '#/components/schemas/Money'
        number_of_tickets:
          type: integer
          description: The total number of tickets for the sales aggregated in this resource.
          format: int32
        status:
          type:
          - string
          - 'null'
          description: A short localised string describing the current status of the aggregated sales.
        _links:
          oneOf:
          - $ref: '#/components/schemas/SalesAggregateLinks'
    Error:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
        errors:
          type:
          - object
          - 'null'
          additionalProperties:
            type: array
            items:
              type: string
    Money:
      type: object
      description: Returned for monetary values, such as ticket prices, fees charged and tax amounts.
      additionalProperties: false
      required:
      - amount
      - currency_code
      properties:
        amount:
          type:
          - number
          - 'null'
          description: The decimal amount of the money.
          format: decimal
        currency_code:
          type:
          - string
          - 'null'
          description: The ISO 4217 currency code that the monetary value is represented in.
        display:
          type:
          - string
          - 'null'
          description: A user-friendly string representing the monetary value.
  responses:
    internal_server_error:
      description: Internal server error
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    validation_failed:
      description: The request data is not valid. errors will contain an object with a localized message that describes the validation error for each property of the data.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    not_found:
      description: The URI requested is invalid or the resource requested, such as an event, does not exist.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    forbidden:
      description: The request is understood, but it has been refused or access is not allowed. An accompanying error message will explain why.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    requires_authentication:
      description: Authentication credentials were missing or incorrect.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
  securitySchemes:
    OAuth2:
      type: oauth2
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
        clientCredentials:
          tokenUrl: https://account.viagogo.com/oauth2/token
        authorizationCode:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
x-tagGroups:
- name: Endpoints
  tags:
  - SellerListings
  - SellerListings (External Id)
  - SellerListings (Preview)
  - E-Tickets
  - ListingConstraints
  - SellerEvents
  - Shipments
- name: Basic Types
  tags:
  - BasicType_Money
- name: Resources
  tags:
  - Resource_ETickets
  - Resource_ETicketUpload
  - Resource_ETicketUploads
  - Resource_ListingConstraints
  - Resource_SellerEvent
  - Resource_SellerEvents
  - Resource_SellerListing
  - Resource_SellerListings
  - Resource_Shipment
  - Resource_Shipments
