openapi: 3.2.0
info:
  title: viagogo Inventory SellerListings (External Id) API
  version: 2.249.0.0
  x-logo:
    url: https://img.vggcdn.net/img/assets/logo/viagogo_logo_apidocs.png
    backgroundColor: '#222222'
  description: Manage your inventory using identifiers from an external inventory management system.
servers:
- url: https://api.viagogo.net/v2
  description: Production
- url: https://sandbox.api.viagogo.net/v2
  description: Sandbox
security:
- OAuth2:
  - read:sales
  - read:sellerlistings
  - read:user
  - write:requestedevents
  - write:sales
  - write:sellerlistings
  - write:user
tags:
- name: SellerListings (External Id)
  description: Manage your inventory using identifiers from an external inventory management system.
paths:
  /externalsellerlistings/{externallistingId}:
    get:
      tags:
      - SellerListings (External Id)
      summary: Get a seller listing by external ID
      description: Get a seller listing by identifier that has been assigned to the listing in an external inventory management system.
      operationId: SellerListings_GetByExternalListingId
      parameters:
      - name: externallistingId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/SellerListing'
        '404':
          $ref: '#/components/responses/not_found'
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - read:sellerlistings
  /externalsellerlistings/{externalId}:
    patch:
      tags:
      - SellerListings (External Id)
      summary: Update a seller listing by external ID
      description: Update a seller listing by identifier that has been assigned to the listing in an external inventory management system.
      operationId: SellerListings_PatchByExternalListingId
      parameters:
      - name: externalId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/PatchSellerListingRequest'
      responses:
        '200':
          description: ''
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/SellerListing'
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '400':
          $ref: '#/components/responses/validation_failed'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:sellerlistings
    delete:
      tags:
      - SellerListings (External Id)
      summary: Delete a seller listing by external ID
      description: Delete a seller listing by identifier that has been assigned to the listing in an external inventory management system.
      operationId: SellerListings_DeleteListingByExternalListingId
      parameters:
      - name: externalId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      responses:
        '204':
          description: null
        '403':
          $ref: '#/components/responses/forbidden'
          description: null
        '401':
          $ref: '#/components/responses/requires_authentication'
          description: null
        '500':
          $ref: '#/components/responses/internal_server_error'
          description: null
      security:
      - OAuth2:
        - write:sellerlistings
components:
  schemas:
    BarcodeInformation:
      type: object
      description: A set of barcodes for a seat.
      additionalProperties: false
      properties:
        seat_ordinal:
          type:
          - integer
          - 'null'
          description: An ordinal number for a seat.
          format: int32
        seat:
          type:
          - string
          - 'null'
          description: Seat number.
        row:
          type:
          - string
          - 'null'
          description: Row of ticket.
        status:
          type:
          - string
          - 'null'
          description: Status of the barcode. Can be `Received` or `FailedValidation`
        barcode_values_sha256_hashed:
          type:
          - array
          - 'null'
          description: SHA256-hashed barcode(s) for this seat.
          items:
            type: string
    EmbeddedEvent:
      type: object
      description: An event on the viagogo platform.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The event identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the event.
        start_date:
          type:
          - string
          - 'null'
          description: The date when the event starts.
          format: date-time
        end_date:
          type:
          - string
          - 'null'
          description: The date when the event ends.
          format: date-time
        on_sale_date:
          type:
          - string
          - 'null'
          description: The date when tickets for the event will go onsale.
          format: date-time
        date_confirmed:
          type:
          - boolean
          - 'null'
          description: True if the event start and end date have been confirmed; Otherwise, false.
        merged_events:
          type:
          - array
          - 'null'
          description: The list of event ids that are merged into this event.
          items:
            $ref: '#/components/schemas/MergedEntity'
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEventLinks'
    SplitType:
      type: object
      description: The way that the ticket(s) in a listing are allowed to be split up when sold.
      additionalProperties: false
      properties:
        type:
          type:
          - string
          - 'null'
          description: The type of split. Can be Any, None, AvoidOne, AvoidOneAndThree, or Pairs.
        name:
          type:
          - string
          - 'null'
          description: The localised name of the type of split.
        description:
          type:
          - string
          - 'null'
          description: The localised description of the split.
        _links:
          oneOf:
          - $ref: '#/components/schemas/SplitTypeLinks'
    ListingNoteLinks:
      title: ListingNoteLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Section:
      type: object
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
        free_text_row:
          type: boolean
        queue_number_row:
          type: boolean
        rows:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Row'
    SeatingDetail:
      type: object
      additionalProperties: false
      required:
      - section
      properties:
        section:
          type:
          - string
          - 'null'
          description: The section of the ticket(s).
        row:
          type:
          - string
          - 'null'
          description: The row of the ticket(s).
        seat_from:
          type:
          - string
          - 'null'
          description: The first in a contiguous block of seats to which the tickets have been allocated.
        seat_to:
          type:
          - string
          - 'null'
          description: The last in a contiguous block of seats to which the tickets have been allocated.
        state:
          description: This field indicates whether the listing's seating is visible on the website on the venue map.
          oneOf:
          - $ref: '#/components/schemas/SeatingState'
    ListingConstraintsLinks:
      title: ListingConstraintsLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Currency:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: The ISO 4217 currency code that identifies the currency.
        name:
          type:
          - string
          - 'null'
          description: The name of the currency.
        symbol:
          type:
          - string
          - 'null'
          description: The symbol that identifies the currency.
        decimal_places:
          type:
          - integer
          - 'null'
          description: The number of decimal places used to represent amounts in the currency.
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/CurrencyLinks'
    SeatingState:
      type: object
      additionalProperties: false
      properties:
        visible_in_venue_map:
          type: boolean
          description: True when the seat is visible in the venue map that will be shown to buyers; Otherwise, false.
    CurrencyLinks:
      title: CurrencyLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    ListingNote:
      type: object
      description: Provides additional notes on a listing
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The listing note identifier.
          format: int32
        note:
          type:
          - string
          - 'null'
          description: The localized note.
        type:
          type:
          - string
          - 'null'
          description: The listing note type name. Can be `Information`, `Perk`, `Defect` and `RestrictionOnUse`.
        _links:
          oneOf:
          - $ref: '#/components/schemas/ListingNoteLinks'
    PatchSellerListingRequest:
      type: object
      description: A set of tickets for sale on the viagogo marketplace that belong to the currently authenticated user.
      additionalProperties: false
      properties:
        ticket_price:
          description: The price of each ticket in the listing.
          oneOf:
          - $ref: '#/components/schemas/Money'
        ticket_proceeds:
          description: The amount that the seller will receive for each ticket sold.
          oneOf:
          - $ref: '#/components/schemas/Money'
        seating:
          description: 'The seating information for the ticket(s) in this listing. For PATCH Requests, you need to pass in all the fields of a Seating to update, even when you only need to update some of the fields. Otherwise the rest of the fields will be set to empty. '
          oneOf:
          - $ref: '#/components/schemas/SeatingRequest'
        face_value:
          description: The price printed on the ticket, not including any booking fees.
          oneOf:
          - $ref: '#/components/schemas/Money'
        ticket_type:
          type:
          - string
          - 'null'
          description: The type of ticket(s) in this listing.
        split_type:
          type:
          - string
          - 'null'
          description: The way that the ticket(s) are allowed to be split up when sold.
        number_of_tickets:
          type:
          - integer
          - 'null'
          description: The number of tickets available for purchase.
          format: int32
        display_number_of_tickets:
          type:
          - integer
          - 'null'
          description: The number of tickets that should be displayed to buyers as available for purchase.
          format: int32
        ticket_location_address_id:
          type:
          - integer
          - 'null'
          description: The identifier of the address where the ticket(s) are located.
          format: int32
        listing_note_ids:
          type:
          - array
          - 'null'
          description: An array of listing note identifiers that provides additional notes on the listing
          items:
            type: integer
            format: int32
        in_hand_at:
          type:
          - string
          - 'null'
          description: The date when the seller will have the tickets in hand.
          format: date-time
        external_id:
          type:
          - string
          - 'null'
          description: An identifier that has been assigned to the listing in an external inventory management system.
        notes:
          type:
          - string
          - 'null'
          description: A comma-separated string of additional notes about the listing
        instant_delivery:
          type:
          - boolean
          - 'null'
        published:
          type:
          - boolean
          - 'null'
          description: True when the listing should be published; Otherwise, false.
        lms_optin:
          type:
          - boolean
          - 'null'
          description: True when the listing should be opted into Last Minute Sales; Otherwise, false.
        eticket_ids:
          type:
          - array
          - 'null'
          description: A array of the identifiers of the E-Tickets to be assigned to the listing.
          items:
            type: integer
            format: int32
        external_event_information:
          type:
          - array
          - 'null'
          description: Information about the listing's event on other platforms.
          items:
            $ref: '#/components/schemas/SellerListingExternalEventInformation'
        purchase_price_per_ticket:
          description: The purchase price paid by the seller for each ticket in the listing.
          oneOf:
          - $ref: '#/components/schemas/Money'
        total_purchase_price:
          description: The total purchase price paid by the seller.
          oneOf:
          - $ref: '#/components/schemas/Money'
        sales_tax_paid:
          type:
          - boolean
          - 'null'
          description: True if the seller already paid sales tax for the ticket(s); otherwise, false.
        barcodes:
          type:
          - array
          - 'null'
          description: Barcode(s) for the ticket(s) in this listing.
          items:
            $ref: '#/components/schemas/BarcodeInformation2'
    SplitTypeLinks:
      title: SplitTypeLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    EmbeddedVenue:
      type: object
      description: A venue is a location where an event takes place.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The venue identifier.
          format: int32
        name:
          type:
          - string
          - 'null'
          description: The name of the venue.
        city:
          type:
          - string
          - 'null'
          description: The name of the city where the venue is located.
        state_province:
          type:
          - string
          - 'null'
          description: The name of the State or Province where the venue is located.
        latitude:
          type:
          - number
          - 'null'
          description: The latitude for the venue.
          format: double
        longitude:
          type:
          - number
          - 'null'
          description: The longitude for the venue.
          format: double
        _links:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenueLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenueEmbeddedResources'
    TicketTypeLinks:
      title: TicketTypeLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    SellerListingEmbeddedResources:
      title: SellerListingEmbeddedResources
      type: object
      properties:
        constraints:
          description: The constraints applied to this listing.
          oneOf:
          - $ref: '#/components/schemas/ListingConstraints'
        event:
          description: The event for this listing.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedEvent'
        listing_notes:
          type:
          - array
          - 'null'
          description: The notes for this listing.
          items:
            $ref: '#/components/schemas/ListingNote'
        relist_transaction:
          oneOf:
          - $ref: '#/components/schemas/RelistTransaction'
        split_type:
          description: The way that the ticket(s) are allowed to be split up when sold.
          oneOf:
          - $ref: '#/components/schemas/SplitType'
        ticket_type:
          description: The type of ticket(s) in this listing.
          oneOf:
          - $ref: '#/components/schemas/TicketType'
        venue:
          description: The venue where the event is taking place.
          oneOf:
          - $ref: '#/components/schemas/EmbeddedVenue'
    SeatingRequest:
      type: object
      description: Represents the seating information for a ticket(s) in a Venue.
      additionalProperties: false
      required:
      - section
      properties:
        section:
          type:
          - string
          - 'null'
          description: The section of the ticket(s).
        row:
          type:
          - string
          - 'null'
          description: The row of the ticket(s).
        seat_from:
          type:
          - string
          - 'null'
          description: The first in a contiguous block of seats to which the tickets have been allocated.
        seat_to:
          type:
          - string
          - 'null'
          description: The last in a contiguous block of seats to which the tickets have been allocated.
        hide_seat_details:
          type:
          - boolean
          - 'null'
          description: Do not display seats pre-purchase. May affect listing visibility in some regions.
    SellerListingExternalEventInformation:
      type: object
      description: Information about the listing's event on other platforms.
      additionalProperties: false
      properties:
        id:
          type: integer
          description: An identifier for the event on an external platform.
          format: int32
        platform:
          type:
          - string
          - 'null'
          description: The name of the external platform.
        url:
          type:
          - string
          - 'null'
          description: The URL of the event on the external platform.
        venue_id:
          type:
          - integer
          - 'null'
          description: An identifier for the event's venue on an external platform.
          format: int32
        performer_id:
          type:
          - integer
          - 'null'
          description: An identifier for the event's category on an external platform.
          format: int32
    MergedEntity:
      type: object
      description: An entity that has been merged into another entity.
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The identifier for this entity.
          format: int32
    ListingConstraints:
      type: object
      description: The constraints applied to a listing for a particular event on the viagogo marketplace.
      additionalProperties: false
      properties:
        min_ticket_price:
          oneOf:
          - $ref: '#/components/schemas/Money'
        max_ticket_price:
          oneOf:
          - $ref: '#/components/schemas/Money'
        min_number_of_tickets:
          type:
          - integer
          - 'null'
          description: The minimum number of tickets available for purchase.
          format: int32
        max_number_of_tickets:
          type:
          - integer
          - 'null'
          description: The maximum number of tickets available for purchase.
          format: int32
        ticket_location_required:
          type:
          - boolean
          - 'null'
          description: True if a ticket location is required for tickets; Otherwise, false.
        seats_required:
          type:
          - boolean
          - 'null'
          description: True if seat-level information (seat_to and seat_from) is required; Otherwise, false.
        sections:
          type:
          - array
          - 'null'
          description: The valid section and row information. If no sections are specified then any text will be accepted for section and row.
          items:
            $ref: '#/components/schemas/Section'
        primary_order_id_required:
          type:
          - boolean
          - 'null'
        home_or_away_required:
          type:
          - boolean
          - 'null'
        _links:
          oneOf:
          - $ref: '#/components/schemas/ListingConstraintsLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/ListingConstraintsEmbeddedResources'
    BarcodeInformation2:
      type: object
      description: A set of barcodes for a seat.
      additionalProperties: false
      properties:
        seat_ordinal:
          type:
          - integer
          - 'null'
          description: An ordinal number for a seat.
          format: int32
        seat:
          type:
          - string
          - 'null'
          description: Seat number.
        row:
          type:
          - string
          - 'null'
          description: Row of ticket.
        barcode_values:
          type:
          - array
          - 'null'
          description: Barcode(s) values for this seat.
          items:
            type: string
    Row:
      type: object
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
    Country:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
          description: The two-letter ISO 3166 code for the country.
        name:
          type:
          - string
          - 'null'
          description: The name of the country.
        _links:
          oneOf:
          - $ref: '#/components/schemas/CountryLinks'
    TicketType:
      type: object
      additionalProperties: false
      properties:
        type:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        id:
          type: integer
          format: int32
        _links:
          oneOf:
          - $ref: '#/components/schemas/TicketTypeLinks'
    EmbeddedVenueLinks:
      title: EmbeddedVenueLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    SellerListingLinks:
      title: SellerListingLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        event:createsellerlisting:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:constraints:
          description: The constraints applied to this listing.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:contactuswebpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:delete:
          description: Delete a listing.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:etickets:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:eticketuploads:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:lmsoptin:
          description: Opt this listing into Last Minute Sales.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:lmsoptout:
          description: Opt this listing out of Last Minute Sales.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:lmspickup:
          description: The pickup instructions for Last Minute Sales.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:optionalverificationrequests:
          description: 'The VerificationRequests that can be resolved in order for the

            listing to be published on some viagogo websites.'
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:pricing:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:publish:
          description: Make seller listing available for purchase.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:saveetickets:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:shipments:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:ticketlocation:
          description: The address where the ticket(s) are located.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:unpublish:
          description: Make the listing unavailable for purchase.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updatedisplaynumberoftickets:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updatefacevalue:
          description: Update face value for this listing.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updateinhandat:
          description: Update the date the seller will have tickets for this listing in hand.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updatenotes:
          description: Update notes for this listing.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updatenumberoftickets:
          description: Update number of tickets available for purchase.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updatepreview:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updateseating:
          description: Update the seating information for the ticket(s) in this listing.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updatesplittype:
          description: Update the way the ticket(s) are allowed to be split up when sold.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updateticketlocation:
          description: Update the address where the ticket(s) are located.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updateticketprice:
          description: Update the price of each ticket in this listing.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:updatetickettype:
          description: Update the type of ticket(s) for this listing.
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:uploadeticket:
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:verificationrequests:
          description: 'The VerificationRequests that must be resolved in order for the

            listing to be published on all viagogo websites.'
          oneOf:
          - $ref: '#/components/schemas/Link'
        sellerlisting:webpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
    SellerListing:
      type: object
      description: A set of tickets for sale on the viagogo marketplace that belong to the currently authenticated user.
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          description: The listing identifier.
          format: int64
        created_at:
          type:
          - string
          - 'null'
          description: The date when the listing was created.
          format: date-time
        number_of_tickets:
          type:
          - integer
          - 'null'
          description: The number of tickets available for purchase.
          format: int32
        seating:
          description: The seating information for the ticket(s) in this listing.
          oneOf:
          - $ref: '#/components/schemas/SeatingDetail'
        display_seating:
          description: The seating information that will be displayed to buyers for the ticket(s) in this listing.
          oneOf:
          - $ref: '#/components/schemas/SeatingDetail'
        ticket_price:
          description: The price of each ticket in the listing.
          oneOf:
          - $ref: '#/components/schemas/Money'
        updated_at:
          type:
          - string
          - 'null'
          description: The date when the listing was last updated.
          format: date-time
        external_id:
          type:
          - string
          - 'null'
          description: An identifier that has been assigned to the listing in an external inventory management system.
        expires_at:
          type:
          - string
          - 'null'
          description: The date when the listing will be automatically unpublished from the marketplace.
          format: date-time
        display_number_of_tickets:
          type:
          - integer
          - 'null'
          description: The number of tickets that should be displayed to buyers as available for purchase.
          format: int32
        face_value:
          description: The price printed on the ticket, not including any booking fees.
          oneOf:
          - $ref: '#/components/schemas/Money'
        ticket_proceeds:
          description: The amount that the seller will receive for each ticket sold.
          oneOf:
          - $ref: '#/components/schemas/Money'
        in_hand_at:
          type:
          - string
          - 'null'
          description: The date when the seller will have the tickets in hand.
          format: date-time
        is_ticket_concierge:
          type: boolean
          description: Whether the listing represents a shorted ticket
        is_auto_po:
          type: boolean
          description: Whether a listing was automatically generated from a purchase order
        barcodes:
          type:
          - array
          - 'null'
          description: Barcode(s) for the ticket(s) in this listing.
          items:
            $ref: '#/components/schemas/BarcodeInformation'
        instant_delivery:
          type:
          - boolean
          - 'null'
        undeliverable:
          type:
          - boolean
          - 'null'
          description: Shipment of the ticket to the buyer cannot be guaranteed before the event. To increase the deliverability of electronic type tickets, preupload them (e.g. pre-upload barcodes or PDF files.) To increase deliverability of paper tickets, opt your tickets into our LMS program.
        purchase_price_per_ticket:
          description: The purchase price paid by the seller for each ticket in the listing.
          oneOf:
          - $ref: '#/components/schemas/Money'
        total_purchase_price:
          description: The total purchase price paid by the seller.
          oneOf:
          - $ref: '#/components/schemas/Money'
        sales_tax_paid:
          type:
          - boolean
          - 'null'
          description: True if the seller already paid sales tax for the ticket(s); otherwise, false.
        _links:
          oneOf:
          - $ref: '#/components/schemas/SellerListingLinks'
        _embedded:
          oneOf:
          - $ref: '#/components/schemas/SellerListingEmbeddedResources'
    EmbeddedEventLinks:
      title: EmbeddedEventLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
    Link:
      type: object
      additionalProperties: false
      properties:
        href:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        templated:
          type: boolean
    CountryLinks:
      title: CountryLinks
      type: object
      properties:
        self:
          oneOf:
          - $ref: '#/components/schemas/Link'
        country:events:
          description: The events taking place in a country.
          oneOf:
          - $ref: '#/components/schemas/Link'
        country:localwebpage:
          oneOf:
          - $ref: '#/components/schemas/Link'
    EmbeddedVenueEmbeddedResources:
      title: EmbeddedVenueEmbeddedResources
      type: object
      properties:
        country:
          description: The Country where the venue is located.
          oneOf:
          - $ref: '#/components/schemas/Country'
    ListingConstraintsEmbeddedResources:
      title: ListingConstraintsEmbeddedResources
      type: object
      properties:
        connected_seller_listing_notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ListingNote'
        currencies:
          type:
          - array
          - 'null'
          description: The valid currencies for the listing ticket price.
          items:
            $ref: '#/components/schemas/Currency'
        listing_notes:
          type:
          - array
          - 'null'
          description: The available notes for this listing.
          items:
            $ref: '#/components/schemas/ListingNote'
        required_unique_listing_notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ListingNote'
        restricted_on_use_listing_notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ListingNote'
        split_types:
          type:
          - array
          - 'null'
          description: The way that tickets are allowed to be split up when sold.
          items:
            $ref: '#/components/schemas/SplitType'
        ticket_types:
          type:
          - array
          - 'null'
          description: The valid types of tickets.
          items:
            $ref: '#/components/schemas/TicketType'
    Error:
      type: object
      additionalProperties: false
      properties:
        code:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
        errors:
          type:
          - object
          - 'null'
          additionalProperties:
            type: array
            items:
              type: string
    Money:
      type: object
      description: Returned for monetary values, such as ticket prices, fees charged and tax amounts.
      additionalProperties: false
      required:
      - amount
      - currency_code
      properties:
        amount:
          type:
          - number
          - 'null'
          description: The decimal amount of the money.
          format: decimal
        currency_code:
          type:
          - string
          - 'null'
          description: The ISO 4217 currency code that the monetary value is represented in.
        display:
          type:
          - string
          - 'null'
          description: A user-friendly string representing the monetary value.
    RelistTransaction:
      type: object
      additionalProperties: false
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
  responses:
    internal_server_error:
      description: Internal server error
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    validation_failed:
      description: The request data is not valid. errors will contain an object with a localized message that describes the validation error for each property of the data.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    not_found:
      description: The URI requested is invalid or the resource requested, such as an event, does not exist.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    forbidden:
      description: The request is understood, but it has been refused or access is not allowed. An accompanying error message will explain why.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
    requires_authentication:
      description: Authentication credentials were missing or incorrect.
      content:
        application/hal+json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
  securitySchemes:
    OAuth2:
      type: oauth2
      bearerFormat: JWT
      flows:
        implicit:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
        clientCredentials:
          tokenUrl: https://account.viagogo.com/oauth2/token
        authorizationCode:
          authorizationUrl: https://account.viagogo.com/authorize
          tokenUrl: https://account.viagogo.com/oauth2/token
          refreshUrl: https://account.viagogo.com/oauth2/token
x-tagGroups:
- name: Endpoints
  tags:
  - SellerListings
  - SellerListings (External Id)
  - SellerListings (Preview)
  - E-Tickets
  - ListingConstraints
  - SellerEvents
  - Shipments
- name: Basic Types
  tags:
  - BasicType_Money
- name: Resources
  tags:
  - Resource_ETickets
  - Resource_ETicketUpload
  - Resource_ETicketUploads
  - Resource_ListingConstraints
  - Resource_SellerEvent
  - Resource_SellerEvents
  - Resource_SellerListing
  - Resource_SellerListings
  - Resource_Shipment
  - Resource_Shipments
